@import "../../node_modules/plyr/src/scss/plyr.scss";

$black: #000000;
$white: #FFFFFF;

.plyr{
  &.plyr--audio,
  &.plyr--video{
    min-width: auto;
    .plyr__controls{
      background: transparent;
      button{
        &:hover{
          background: $black;
          svg{
            fill: $white;
          }
        }
        svg{
          fill: $black;
        }
      }
    }
  }
  &.plyr--video{
    
    .plyr__video-wrapper{
      max-width: 800px;
      max-height: 800px;
    }
    video{
       max-width: 800px;
      max-height: 800px;
    }
    .plyr__controls{
      button{
        background: $white;
        svg{
          fill: $black;
        }
      }
    }
  }
}