$white: #FFFFFF;
$black: #000000;

$grey1: #191E23;
$grey2: #23282D;
$grey3: #32373C;
$grey4: #464B50;
$grey5: #82878C;
$grey6: #A0A5AA;
$grey7: #263238;
$grey8: #E1E1E1;
$grey9: #F9F9F9;
$grey10: #F1F1F1;

$color-primary: #0073AA;